
.dark-theme .theme-background-color {
    background-color: #1E2139 !important;
}

.light-theme .theme-background-color {
        background-color: #FFF !important;
}

.dark-theme .theme-sub-background-color {
    background-color: #252945 !important;
}

.dark-theme .theme-sub-background-darker-color {
    background-color: #0C0E16 !important;
}

.dark-theme .theme-main-bg {
    background-color: #141625 !important;
}

.light-theme .theme-main-bg {
    background-color: #F8F8FB !important;
}

.dark-theme .theme-text {
    color: #FFF !important;
}

.light-theme .theme-text {
    color: #0C0E16 !important;
}
